%ol.microposts
  - @users.each do |user|
    = render user
    = link_to "delete", user, method: :delete, data: { confirm: "Are you sure? This will remove the post and it is non-reversible" }, title: "Delete"